# autogen.sh configuration for gpgex                           -*- sh -*-

case "$myhost:$myhostsub" in
  w32:64)
    extraoptions=
    ;;
  w32:)
    extraoptions=
    ;;
esac


final_info="./configure --build-{w32,w64} && make"
